<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devhub.pinchesystemback.mapper.InfoMapper">
    <resultMap id="InfoResultMap" type="com.devhub.pinchesystemback.domain.Info">
        <id column="info_id" jdbcType="BIGINT" property="infoId"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="days" jdbcType="DATE" property="days"/>
        <result column="ending" jdbcType="VARCHAR" property="ending"/>
        <result column="car_num" jdbcType="VARCHAR" property="carNum"/>
        <result column="price" jdbcType="REAL" property="price"/>
        <result column="remain" jdbcType="TINYINT" property="remain"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from info
        where info_id = #{infoId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" useGeneratedKeys="true" parameterType="com.devhub.pinchesystemback.domain.Info"
            keyProperty="infoId">
        insert into info (info_id, owner_id, owner_name,
                          days, ending, car_num,
                          price, remain, remark)
        values (#{infoId,jdbcType=BIGINT}, #{ownerId,jdbcType=BIGINT}, #{ownerName,jdbcType=VARCHAR},
                #{days,jdbcType=TIMESTAMP}, #{ending,jdbcType=VARCHAR}, #{carNum,jdbcType=VARCHAR},
                #{price,jdbcType=REAL}, #{remain,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.devhub.pinchesystemback.domain.Info">
        update info
        set owner_id   = #{ownerId,jdbcType=BIGINT},
            owner_name = #{ownerName,jdbcType=VARCHAR},
            days       = #{days,jdbcType=TIMESTAMP},
            ending     = #{ending,jdbcType=VARCHAR},
            car_num    = #{carNum,jdbcType=VARCHAR},
            price      = #{price,jdbcType=REAL},
            remain     = #{remain,jdbcType=TINYINT},
            remark     = #{remark,jdbcType=VARCHAR}
        where info_id = #{infoId,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="InfoResultMap">
        select info_id,
               owner_id,
               owner_name,
               days,
               ending,
               car_num,
               price,
               remain,
               remark,
               create_time,
               update_time
        from info
        where info_id = #{infoId,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="InfoResultMap">
        select info_id,
               owner_id,
               owner_name,
               days,
               ending,
               car_num,
               price,
               remain,
               remark,
               create_time,
               update_time
        from info
    </select>
    <select id="selectByOwner" parameterType="java.lang.Long" resultMap="InfoResultMap">
        select info_id,
               owner_id,
               owner_name,
               days,
               ending,
               car_num,
               price,
               remain,
               remark,
               create_time,
               update_time
        from info
        where owner_id = #{ownerId,jdbcType=BIGINT}
    </select>
    <select id="selectAllByOwnerId" resultMap="InfoResultMap">
        select info_id,
               owner_id,
               owner_name,
               days,
               ending,
               car_num,
               price,
               remain,
               remark,
               create_time,
               update_time
        from info
        where owner_id = #{ownerId,jdbcType=BIGINT}
    </select>
    <select id="selectInfoList" resultType="com.devhub.pinchesystemback.domain.Info">
        select info_id,
        owner_id,
        owner_name,
        days,
        ending,
        car_num,
        price,
        remain,
        remark,
        create_time,
        update_time
        from info
        where
        create_time != update_time and
        update_time between #{begin} and #{end}
        <if test="id != null">
            and owner_id = #{ownerId}
        </if>


    </select>
    <select id="selectOwnerIdsByInfo" resultType="java.lang.Long">
        select distinct(owner_id)
        from info
    </select>

</mapper>